.section {
  min-height: 80vh;
  background-color: #1a1d1f;
  display: flex;
  //justify-content: flex-start;
  align-items: center;
  padding: 40px;


  .skillsContainer {
    background: #a7afbd;
    display: block;

    .title {
      padding-bottom: 40px;
      width: fit-content;
      height: auto;
      clear: both;

      span {
        color: #d7f544;
        display: inline-block;
        margin-bottom: 16px;
        font-family: 'Poppins-regular', sans-serif;
        font-weight: 500;
      }

      h3 {
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        line-height: 1.2;
        font-family: 'Poppins-extra-bold', sans-serif;
        margin-bottom: 25px;
      }
    }


  }

}