.section {
  min-height: 90vh;
  background-color: #494b50;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;



  .skillsContainer {

    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    //align-items: center;
    flex-wrap: wrap;
    visibility: visible;

    flex-direction: column;

    .title {
      padding-bottom: 60px;
      width: fit-content;
      height: auto;
      clear: both;




      span {
        color: #d7f544;
        display: inline-block;
        margin-bottom: 16px;
        font-family: 'Poppins-regular';
        font-weight: 500;
      }

      h3 {
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        line-height: 1.2;
        font-family: 'Poppins-extra-bold';
        margin-bottom: 25px;

      }
    }

    .skills {

      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }


}






