.skillsBlock {
    min-height: 100vh;
    background-color: #b2cad7;
}

.skillsContainer {
    flex-direction: column;
}

.title {
    background-color: #b2cad7;
}


.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}