@import 'common/variables';
@import 'common/mixins';

.section {
  @include section(80vh, center, #111111);

  .contactContainer {
    @include container;

    .wrapper {
      flex-direction: column;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: 48% 48%;
      gap: 4%;

      .infoSide {

        p {
          color: $light_color;
          margin-bottom: 35px;
        }

        ul {
          list-style-type: none;
          padding: 0;
          line-height: 2.4rem;

          li {
            color: $primary_color;

            span {
              color: $light_color;
              padding-left: 10px;
              font-size: 18px;
            }

          }
        }
      }

      .formSide {

        input {
          background: transparent;
          font-family: $regular_Font, sans-serif;
          width: 100%;
          line-height: 2.4rem;
          border: 1px solid #636465;
          margin: 10px 0;
          padding-left: 10px;
          color: $white_color;
        }

        textarea {
          font-family: $regular_Font, sans-serif;
          width: 100%;
          resize: none;
          border: 1px solid #636465;
          background: transparent;
          padding-left: 10px;
          color: $white_color;
        }

        button {
          margin: 10px 0;
          width: 100%;
          line-height: 2.4rem;
          background: $primary_color;
          border: 1px;
          font-size: 18px;
        }

        button:hover {
          color: $white_color;
          cursor: pointer;
          background: $black_color;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {

    .contactContainer {

      .wrapper {
        display: block;
        text-align: center;

        .infoSide {

          ul {
            text-align: left;
            padding: 0;
          }

        }
      }
    }
  }
}