@import '../Common/variables.scss';

header {
  width: 100%;
  height: 80px;
  background: $background_primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  position: fixed;
  opacity: 50%;
  z-index: 90;


  h3 {
    opacity: 20%;
    color: $light_color;
    letter-spacing: 0.5rem;
    font-family: 'TET', sans-serif;
    padding-left: 10px;
  }


  @media screen and (max-width: 480px) {
    justify-content: center;
    padding: 0;
    margin: 0;

    h3 {
      display: none;
    }
  }

}

