@import 'common/variables';
@import 'common/mixins';

header {
  @include section(10, space-between, $background_primary);
  width: 100%;
  padding-right: 10%;
  position: fixed;
  opacity: 50%;
  z-index: 90;

  h3 {
    opacity: 20%;
    color: $light_color;
    letter-spacing: 0.5rem;
    font-family: 'TET', sans-serif;
    padding-left: 10px;
  }


  @media screen and (max-width: 480px) {
    justify-content: center;
    padding: 0;
    margin: 0;

    h3 {
      display: none;
    }

  }

}