.contactBlock {
    background-color: #b1c9d6;
    min-height: 50vh;
    display: flex;
    align-items: center
}

.contactContainer {
    display: flex;
    justify-content: center;
}

.contactTitle {
    background-color: #b1c9d6;
}

.contactForm {
    background-color: #c4dbc5;
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}