@import 'common/variables';
@import 'common/mixins';

footer {
  @include section(10vh, center, $background_secondary);

  .footerContainer {
    align-items: center;
    color: $white_color;

    .info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        list-style-type: none;

        li {
          padding: 0 5px;
          font-size: 20px;

          a {
            color: $primary_color;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {

    .footerContainer {
      .info {
        padding: 40px;
        display: block;
        text-align: center;

        ul {
          padding: 0;
          justify-content: center;
        }

      }

    }

  }

}