@import '../Common/variables';

.mainBlock {
  border: none;
  background: $background_primary;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;


  .greetingBlock {
    background: $background_primary;
    top: 0;
    position: relative;
    transition: all .4s ease;
    border: 0;
    margin: 0;


    & span {
      color: $primary_color;
      display: inline-block;
      margin-bottom: 16px;
      font-family: $regular_Font;
      font-weight: 500;
    }

    & h3 {
      color: $white_color;
      font-size: 45px;
      font-weight: 800;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 25px;
      font-family: $extraBold_Font;
    }

    .shortInfo {
      width: 100%;
      height: auto;
      clear: both;
      float: left;
      margin-bottom: 35px;

      & ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        background: transparent;
        border: 0;
        vertical-align: baseline;
        outline: none;

        & li {
          color: $white_color;
          width: 100%;
          float: left;
          margin: 0;
          font-size: 17px;
          display: inline-block;
          padding: 8px 0;
          position: relative;
          text-decoration: none;
          transition: all .3s ease;
        }

        & li:hover {
          cursor: pointer;
          color: $primary_color;
        }
      }
    }

    .counterInfo {
      width: 100%;
      height: auto;
      clear: both;
      float: left;
      display: block;

      & ul {
        margin: 0;
        list-style-type: none;
        padding: 0;

        & li {
          margin: 0 50px 15px 0;
          display: inline-block;


          & .listInner {
            margin: 0;

            display: flex;
            align-items: center;

            & h3 {
              color: $white_color;
              font-size: 45px;
              font-weight: 600;
              line-height: 1.2;
              font-family: $bold_Font;
            }

            & span {
              font-family: $regular_Font;
              padding-left: 15px;
              display: inline-block;
              line-height: 1.4;
              position: relative;
              top: -3px;
              font-size: 14px;
              color: $light_color;
            }
          }
        }
      }
    }
  }

  .profilePhoto {
    display: flex;
    justify-content: center;




      & img {
        transform: rotate(15deg);
        display: flex;
        justify-content: center;
        width: 50%;
        border-radius: 20px;
      }
  }

  @media screen and (max-width: 768px) {
    padding: 40px;
  }

}