.mainBlock {
    background-color: #c7deea;
    min-height: 100vh;
}

.greetingBlock {
    width: 300px;
    background-color: #c7dec8;
}

.profilePhoto {
    background-color: #f4bba6;
    width: 300px;
    height: 400px;
}
