@import 'common/variables';

.section {
  min-height: 100vh;
  background: $background_secondary;
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center;

  .skillsContainer {
    place-content: center;
    display: block;

    .title {
      padding-bottom: 40px;

      span {
        display: block;
        color: $primary_color;
        font-family: $regular_Font, sans-serif;
        font-weight: 500;
        margin-bottom: 16px;
      }

      h3 {
        font-weight: 800;
        text-transform: uppercase;
        color: $white_color;
        font-size: 30px;
        line-height: 1.2;
        font-family: $extraBold_Font, sans-serif;
        margin-bottom: 25px;
      }
    }

    .skillWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      p {

        color: $white_color;
        margin: 20px;
      }

    }
  }

  @media only screen and (max-width: 768px) {


  }


}
