@import 'common/variables';
@import 'common/mixins';

.section {
  @include section(100vh, center, $background_secondary);

  .skillsContainer {
    @include container;
    display: inline-block;

    .skillWrapper {
      display: inline-block;

      .skillsDescription {

        p {
          color: $white_color;
          margin: 20px;
        }
      }

      .slillset {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

    }
  }

}