@import 'common/variables';

.nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;


  a {
    text-decoration: none;
    color: $primary_color;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
  }

@media screen and (max-width: 400px){
  a {
    margin: 0 10px;
  }
}
  @media screen and (max-width: 290px){
    display: flex;
    flex-direction: column;
    a {
      margin: 0 10px;
    }
  }

}