@import 'common/variables';
@import 'common/mixins';

.section {
  @include section(100vh, space-around, $background_primary);
  @include container();
  padding-top: 80px;
  width: 100%;

  .greetingBlock {
    background: #1f2a3f;
    top: 0;
    position: relative;
    transition: all .4s ease;
    border: 0;
    margin: 0;

    & span {
      color: $primary_color;
      display: inline-block;
      margin-bottom: 16px;
      font-family: $regular_Font;
      font-weight: 500;
    }

    & h3 {
      color: $white_color;
      font-size: 45px;
      font-weight: 800;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 25px;
      font-family: $extraBold_Font;
      flex-wrap: wrap;
    }

    .shortInfo {
      width: 100%;
      height: auto;
      clear: both;
      float: left;
      margin-bottom: 35px;

      & ul {
        background: red;
        display: grid;
        margin: 0;
        list-style-type: none;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        outline: none;

        & li {
          color: $white_color;
          width: fit-content;
          float: left;
          margin: 0;
          font-size: 17px;
          padding: 8px 0;
          position: relative;
          text-decoration: none;
          transition: all .3s ease;
        }

        & li:hover {
          cursor: default;
        }

        .typing {
          margin: 0;
          color: #fff;

          & span {
            font-weight: bold;
          }
        }

      }
    }

    .counterInfo {
      width: 100%;
      height: auto;
      clear: both;
      float: left;
      display: block;

      & ul {
        margin: 0;
        list-style-type: none;
        padding: 0;

        & li {
          margin: 0 50px 15px 0;
          display: inline-block;


          & .listInner {
            margin: 0;

            display: flex;
            align-items: center;

            & h3 {
              color: $white_color;
              font-size: 45px;
              font-weight: 600;
              line-height: 1.2;
              font-family: $bold_Font;
            }

            & span {
              font-family: $regular_Font;
              padding-left: 15px;
              display: inline-block;
              line-height: 1.4;
              position: relative;
              top: -3px;
              font-size: 14px;
              color: $light_color;
            }
          }
        }
      }
    }
  }

  .profilePhoto {
    width: 350px;
    background: #41491a;
    display: flex;
    position: relative;
    padding: 50px 0;


    .loader {
      @include loader(350px, 350px, 3, 4s);
    }

    .loader:before {
      @include loaderBeforeAfter(1px, 1px, 1px, 1px, 3);
    }

    .loader:after {
      @include loaderBeforeAfter(0px, 0px, 0px, 0px, 3);
      background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    }

    .photo {
      position: absolute;
      border-radius: 50%;
      width: 350px;
      height: 350px;
      z-index: 4;
    }

    @keyframes animate {
      0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
      }
    }

  }

  @media screen and (max-width: 1160px) {

    display: grid;
    justify-items: center;
    .loader {

    }
    .photo {

    }

  }


  @media screen and (max-width: 320px) {

  }

}