.flip_card {
  margin: 10px;

  .flip_image {
    width: 360px;
    height: 410px;
    border-radius: 20px;
  }

  @media screen and (max-width: 840px) {
    .flip_image {
      width: 180px;
      height: 205px;
    }
  }

  @media screen and (max-width: 700px) {
    .flip_image {
      width: 120px;
      height: 167px;
    }
  }

  @media screen and (max-width: 360px) {
    .flip_image {
      width: 80px;
      height: 112px;
    }
  }
}





