@import './Common/variables';

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}


.app {
    font-family: $regular_Font;
    background: #303134;
}