@font-face {
  font-family: 'Poppins-thin';
  src: local('Poppins-thin'), url(Assets/Fonts/AnyConv.com__Poppins-Thin.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__Poppins-Thin.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-regular';
  src: local('Poppins-regular'), url(Assets/Fonts/AnyConv.com__Poppins-Regular.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__Poppins-Regular.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-bold';
  src: local('Poppins-bold'), url(Assets/Fonts/AnyConv.com__Poppins-Bold.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__Poppins-Bold.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-extra-bold';
  src: local('Poppins-extra-bold'), url(Assets/Fonts/AnyConv.com__Poppins-ExtraBold.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__Poppins-ExtraBold.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'TET';
  src: local('TET'), url(Assets/Fonts/AnyConv.com__tet.woff) format('woff'),
  url(Assets/Fonts/AnyConv.com__tet.woff2) format('woff2');
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
