@mixin container() {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  visibility: visible;
}

@mixin section($minHeight, $justContent, $bgColor) {
  min-height: $minHeight;
  display: flex;
  justify-content: $justContent;
  align-items: center;
  padding: 40px;
  background: $bgColor;
  flex-wrap: wrap;
}

/**
loader, loaderBeforeAfter - реализация анимации вращающегося "диска" под фото аватарки пользователя
 */
@mixin loader($width, $height, $zindex, $animationSpeed) {
  z-index: $zindex;
  position: relative;
  width: $width;
  height: $height;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  animation: animate $animationSpeed linear infinite;
}
@mixin loaderBeforeAfter ($top, $left, $right, $bottom, $zindex) {
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  background: transparent;
  border-radius: 50%;
  z-index: $zindex;
}