$primary_color: #d7f544;
$background_primary: #303134;
$background_secondary: #494b50;
$white_color: #fff;
$light_color: #a7afbd;
$black_color: #000;

$bold_Font: 'Poppins-bold';
$regular_Font: 'Poppins-regular';
$extraBold_Font: 'Poppins-extra-bold';

$justContent: center;