.footerBlock {
    min-height: 25vh;
    background-color: #c5dce8;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c3dac4;
}

.footerTitle {
    background-color: #b0c8d5;
    margin-bottom: 20px;
}

.footerSocialContainer {
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4dbe7;
    margin-bottom: 20px;
}

.socialItem {
    width: 60px;
    height: 60px;
    background-color: #f3baa5;
}

.footerPrivacy {
    margin: 10px;
}