footer {
  min-height: 10vh;
  background-color: #494b50;
  display: flex;


  .footerContainer {
    align-items: center;
    color: #fff;

    .info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        list-style-type: none;

        li {
          padding: 0 5px;
          font-size: 20px;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {

    .footerContainer {
      .info {
        padding: 40px;
        display: block;
        text-align: center;

        ul {
          padding: 0;
          justify-content: center;
        }
      }

    }

  }
}









